*~
.*.swp
/tmp/
*.DS_Store

# R
.Rhistory
.RData
.Rapp.history
.Rproj.user
*.Rproj
*.rds

# Python
*.py[cod]
*.so
*.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
*_cache/

index_*
*.csv
*.png
*.pptx
*.ipynb
*.jpg

/zoom/w3*/
rdata
fig_*
*.zip
*.pdf
